@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


:root{

    --main-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-cyan: hsl(186, 14%, 43%);
    --semi-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --semilight-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
    
    --main-font-poppins345: 'Poppins', sans-serif;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: var(--main-font-poppins345);
}

body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: grid;
    place-items: center;
    align-items: center;
    background: var(--light-grayish-cyan);
}

.main{

   
    width: 30rem;
    height: 35rem;
    border: 1px solid var(--main-cyan);
    border-radius: 5px;
    overflow: hidden;
    
}
.main__holder{

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1em;
    background: var(--White);
    position: relative;
}

form{
    
    width: 100%;
    
}

form input[type='text']{

    width: 90%;
    height: 3rem;
    padding: 0 1em;
    cursor: auto;
    outline: none;
    border: 1px solid var(--main-cyan);
    border-radius: 6px;
    background: var(--semilight-grayish-cyan);
  
    
}

button{

    background: none;
    border: none;
    cursor: pointer;

}

.main__body{

    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding: 0 1rem 0 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    scrollbar-width: thin;
    scrollbar-color: hsl(172, 67%, 45%) rgb(255, 255, 255);
}

/* chrome scroll bar */

.main__body::-webkit-scrollbar{
    width: 0.6vw;
    margin-left: 5rem;
}

.main__body::-webkit-scrollbar-thumb{ 

    border-radius: 8px;
    background-color: var(--main-cyan);
    background-image: linear-gradient(315deg, hsl(172, 67%, 45%) 0%, hsl(172, 67%, 45%) 74%); 
}

/* ///////////////// */

.todoShit, .todoDone{

    display: flex;
    flex-direction: row;
    align-items: center;
    height: clamp(3rem, 3vw, fit-content);
    width: 100%;
    color: var(--White);
    font-weight: 400;
    background-color: var(--very-dark-cyan);
    border-radius: 5px;
    padding: 0.7em 1em;
    position: relative;
}

.todoDone::before{

    content: '';
    text-align: center;
    position: absolute;
    background-color: var(--semi-cyan);
    z-index: 1;
    width: 70%;
    height: 4px;

}


.todoShit input[type='text'], .todoDone input[type='text']{

    width: 75%;
    height: 2rem;
    padding: 1em;
    cursor: auto;
    outline: none;
    border: 1px solid var(--main-cyan);
    border-radius: 6px;
    background: var(--semilight-grayish-cyan);
}


.todoShit input[type='checkbox'], .todoDone input[type='checkbox']{

    cursor: pointer;
    accent-color: var(--main-cyan);

}


.todoShit:hover, .todoDone:hover{

    color: var(--very-dark-cyan);
    background-color: var(--main-cyan);
}

.todo__title{

    width: 75%;
    height: 100%;
    word-wrap: break-word;
}

.todos__feature {

    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    right: 0;
    width: 7rem;
    height: 100%;

}

.trash, 
.edit, 
.submit{
    color: var(--White);
    cursor: pointer;
}

.trash:hover, 
.edit:hover,
.submit:hover{
    color: var(--very-dark-cyan);
}

.plus__holder{

    position: absolute;
    top: 25px;
    right: 20px;
}

.plus{
    
    font-size: 1.7rem;
    color: var(--very-dark-cyan);
}

.plus:hover{
    
    color: var(--main-cyan);
}

footer{
    text-align: center;
}

footer a{
    text-decoration: none;
    font-weight: 500;
    color: black;
    border-bottom: 1px solid var(--main-cyan);
}
footer a:hover{
    
    color: var(--main-cyan);
}


@media screen and (max-width: 700px){
    
    body{
        padding: 0.5em;
    }

    .main{
        width: 100%;
    }
    .plus__holder{
        right: 10px;
    }

    .main__body{
        width: 85vw;
    }

    .todoShit, .todoDone{

       width: 100%;
    }
    .todoDone::before{
        
        width: 60%;
    }

    .todos__feature {

        width: 28%;
    }
    
    .todoDone input[type='text']{

        width: 60%;
        height: 2rem;
        padding: 1em;
    }
    
}
